<a href="https://colab.research.google.com/github/ramsundar619/Extraction-of-features-from-json/blob/main/Extraction_of_features_from_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive                                     #mounting the drive to acces the data stored in google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data_df = pd.read_csv('/content/drive/MyDrive/Acies/Analysis_Chart_Configs.csv')

In [ ]:
data_df.head()

           Chart name  ...                                        Description
0  Vertical Bar Chart  ...                         Plot Isin against Quantity
1  Vertical Bar Chart  ...                            Isin wise Quantity plot
2  Vertical Bar Chart  ...          Isin wise Quantity plot using Trade table
3  Vertical Bar Chart  ...    Isin wise Quantity plot using Trade_Dummy table
4  Vertical Bar Chart  ...  Vertical Bar with Isin in x_axis and Quantity ...

[5 rows x 3 columns]

In [ ]:
chart_name = []
table = []
x_axis = []
y_axis = []
operation = []
filter_columns = []
import json
for item in data_df['Chart config']:
  final = eval(item)
  chart_name.append(final['chart_name'])
  table.append(final['table'])
  x_axis.append(final['x_axis'])
  y_axis.append(final['y_axis'])
  operation.append(final['operation'])
  filter_columns.append(final['filter_columns'])

In [ ]:
data_df['chart_name'] = chart_name
data_df['table'] = table
data_df['x_axis'] = x_axis
data_df['y_axis'] = y_axis
data_df['operation'] = operation
data_df['filter_columns'] = filter_columns

In [ ]:
data_df.head()

           Chart name  ...    filter_columns
0  Vertical Bar Chart  ...  [Isin, Quantity]
1  Vertical Bar Chart  ...  [Isin, Quantity]
2  Vertical Bar Chart  ...  [Isin, Quantity]
3  Vertical Bar Chart  ...  [Isin, Quantity]
4  Vertical Bar Chart  ...  [Isin, Quantity]

[5 rows x 9 columns]